@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,700;0,800;1,600&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  letter-spacing: 3px;
  font-family: "Poppins", sans-serif;
  user-select: none;

  @media screen and (max-width: 768px) {
  }

  @media screen and (max-height: 768px) {
  }
}
